# App
APP_PORT=

# Redis
REDIS_ADDR=
REDIS_PASSWORD=

# RabbitMQ
RABBITMQ_DSN=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=

# MailTrap
MAILTRAP_NAME=
MAILTRAP_ROLE=
MAILTRAP_API_KEY=

# Mail Owner
MAIL_OWNER=

# Admin Secret Key
ADMIN_SECRET_KEY=